//jade
doctype html
html
    head
        meta(charset='utf-8')
        title MetaDetail
        style
            include ../public/stylesheets/style.css
        script
            include ../public/javascripts/index.js
    body
        ul
            p: a(href='/static/tenement.html') 租户配置
            p: a(href='/meta/get') 对象浏览
            p: a(href='javascript:void()') 其他

