//jade
doctype html
html
    head
        meta(charset='utf-8')
        title MetaDetail
        style
            include ../public/stylesheets/style.css
        script
            include ../public/javascripts/index.js
    body
        h2 标准对象集
        button
            a(href='/static/metaCard.html') 对象字段统计
        ul
        each val, index in body
            li=  '自定义对象: '
                a(href='/see/' + index) #{val.display_name}
            li=  '数据库表名: ' + index

            button
                a(href='/trigger/' + index) 触发器
            button
                a(href='/validation/' + index) 验证器
            button
                a(href='/layout/' + index) 布局
            li
                a(style='color:black') ----------------------------------------------------
            br





