//jade
doctype html
html
    head
        meta(charset='utf-8')
        title MetaDetail
        style
            include ../public/stylesheets/style.css
        script
            include ../public/javascripts/index.js
    body
        ul
        each val, index in body
            li= index + '  :  ' + val.display_name
            a(href='/see/'+index) SeeDetail
            br
            a(href='/trigger/'+index) SeeTrigger
            br
            a(href='/validation/'+index) SeeValidation





