//jade
doctype html
html
    head
        meta(charset='utf-8')
        title MetaDetail
        style
            include ../public/stylesheets/style.css
        script
            include ../public/javascripts/index.js
    body
        h2 标准对象集
        ul
        each val, index in body
            li=  '字段名: ' + val.display_name
            li=  '数据库存储字段名: ' + index
            a(href='/see/' + index) SeeDetail--|

            a(href='/trigger/' + index) --SeeTrigger--|
            a--
            a(href='/validation/' + index) --SeeValidation
            a--
            a(href='/layout/' + index) --SeeLayout
            li
                a(style='color:black') ----------------------------------------------------
            br





